<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Sample App</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- header部分 -->
    {{ template "header.html" . }}

    <!-- ここからコンテンツ部分 -->
    <div class="container mt-5">
      <h2 class="mb-4">ユーザーの追加</h2>
      <form method="post" action="/new" class="mb-5">
        <div class="form-group">
          <label for="name">名前</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="入力してください"
          />
        </div>
        <div class="form-group">
          <label for="email">メールアドレス</label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            placeholder="入力してください"
          />
        </div>
        <div class="form-group">
          <label for="age">年齢</label>
          <input type="text" class="form-control" id="age" name="age" placeholder="入力してください">
        </div>
        <button type="submit" class="btn btn-primary">送信</button>
      </form>

      <h2 class="mb-4">ユーザーの一覧</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>年齢</th>
            <th>操作</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{ range .users }}
            <tr>
              <td>{{ .Name }}</td>
              <td>{{ .Email }}</td>
              <td>{{ .Age }}</td>
              <td>
                <form method="get" action="/user/{{ .ID }}">
                  <button type="submit" class="btn btn-secondary">詳細</button>
                </form>
              </td>
              <td>
                <form method="get" action="/user/edit/{{ .ID }}">
                  <button type="submit" class="btn btn-info">編集</button>
                </form>
              </td>
              <td>
                <form method="post" action="/delete/{{.ID}}">
                  <button type="submit" class="btn btn-danger">削除</button>
                </form>
              </td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
    <!-- Bootstrap JS (optional) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- footer部分 -->
    {{ template "footer.html" . }}
  </body>
</html>
